.negrito{
    font-weight: bold;
}
    .box{
        border: 3px solid #563;
        padding: 20px;
        display: block;
        width: 20%;
}
.blue{
    color: midnightblue;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;}

    .box2{
        border: 4px solid #563;
        padding: 20px;
        display: block;
        width: 30%;
    }

        .box3{
            border: 3px solid rgb(78, 97, 41);
            padding: 15px;
            display: block;
            width: 15%;
    }

    .grifar{
        background-color: rgb(197, 219, 164);
    }

    .center{
        text-align: center; }